<?xml version="1.0" encoding="utf-8" ?>
<configuration>


  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
  </startup>

  <appSettings>
    <add key="zipname" value="C:\\Users\Suleyman.Kilic\\Documents\\Visual Studio 2015\\Projects\\packagesLogs.zip"/><!--ziplenen logların saklanacagi yer ve isim. Bu klasor silenecek yer disinda olmali-->
    <add key="saveLogDays" value="-3"/><!--loglarin saklanacagi gun-->
    <add key="saveRarDays" value="-10"/><!--rarlarin saklanacagi gun-->
    <add key="log4net.Internal.Debug" value="true"/>
    <add key="LogZipNeeded" value="yes"/><!--log ziplenecek ise yes-->
    <add key="period" value="43200" /><!--windows servisin log silme periyodu-->
  </appSettings>


</configuration>